<header
  id="header"
  class="site-header"
  role="banner"
  itemscope="itemscope"
  itemtype="http://schema.org/WPHeader"
>
  <div id="branding" class="site-branding grid-container">
    <div id="access" class="site-access grid-100">
      <div id="access-inner" class="access-inner relative">
        <a href="https://consultapp.ru/" class="site-title-wrap clearfix">
          <div class="branding-item-wrap flex-center">
            <div class="titles-wrap branding-item">
              <h1 id="site-title" class="site-title" itemprop="headline">
                ConsultApp.ru
              </h1>
              <p
                id="site-description"
                class="site-description font-primary"
                itemprop="description"
              >
                Автоматизация бизнес-процессов, сопровождение информационных
                систем
              </p>
            </div>
          </div></a
        >
        <nav
          class="menu menu-primary font-secondary"
          role="navigation"
          id="menu-primary"
          aria-label="Primary Menu"
          itemscope="itemscope"
          itemtype="http://schema.org/SiteNavigationElement"
        >
          <button
            id="menu-toggle"
            class="menu-toggle hamburger hamburger--spin main-menu-btn is-not-active font-secondary"
            type="button"
            aria-controls="menu-primary-items"
            aria-expanded="false"
            style="top: 42.8359px"
          >
            <span class="hamburger-box">
              <span class="hamburger-inner"></span>
            </span>
            <span class="screen-reader-text">Menu</span>
          </button>
          <ul
            id="menu-primary-items"
            class="menu-primary-items menu-items sm sm-simple"
            aria-expanded="false"
            data-smartmenus-id="16853450726044512"
          >
            <li
              id="menu-item-1530"
              class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1530"
            >
              <a href="https://consultapp.ru/projects-react-next/"
                >React/Next</a
              >
            </li>
            <li
              id="menu-item-1106"
              class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-1106"
            >
              <a
                href="https://consultapp.ru/category/stati/telegram/telegram-bots/"
                >Telegram Bots</a
              >
            </li>
            <li
              id="menu-item-1105"
              class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-1105"
            >
              <a
                href="https://consultapp.ru/category/stati/wordpress/%d0%bf%d0%bb%d0%b0%d0%b3%d0%b8%d0%bd%d1%8b-wp/"
                >WordPress</a
              >
            </li>
            <li
              id="menu-item-657"
              class="menu-item menu-item-type-post_type menu-item-object-post menu-item-657"
            >
              <a
                href="https://consultapp.ru/%d1%85%d0%be%d1%81%d1%82%d0%b8%d0%bd%d0%b3/"
                >Хостинг</a
              >
            </li>
            <li
              id="menu-item-857"
              class="menu-item menu-item-type-custom menu-item-object-custom menu-item-857"
            >
              <a href="mailto:info@consultapp.ru">info@consultapp.ru</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</header>
