<aside
  className="sidebar sidebar-primary grid-30 tablet-grid-33"
  role="complementary"
  id="sidebar-primary"
  aria-label="Primary Sidebar"
  itemscope="itemscope"
  itemtype="http://schema.org/WPSideBar"
>
  <h3 id="sidebar-primary-title" className="screen-reader-text font-headlines">
    Primary Sidebar
  </h3>
  <div className="sidebar-inner">
    <section id="search-2" className="widget widget_search">
      <form
        role="search"
        method="get"
        className="search-form"
        action="https://consultapp.ru/"
      >
        <label className="font-secondary label-search">
          <span className="screen-reader-text">Поиск:</span>
          <input
            type="search"
            className="search-field font-primary"
            placeholder="Поиск …"
            value=""
            name="s"
            title="Search for:"
          />
        </label>
        <button type="submit" className="search-submit font-secondary">
          <span className="screen-reader-text">Искать</span>
        </button>
      </form>
    </section>
    <section id="block-2" className="widget widget_block">
      <h2 className="font-headlines">О нас</h2>
    </section>
    <section id="block-3" className="widget widget_block widget_text">
      <p>
        Мы занимаемся автоматизацией бизнес-процессов и сопровождением
        информационных систем. Если есть вопросы, желание поговорить о Вашем
        проекте или интерес к сотрудничеству —&nbsp;пишите
        <a href="mailto:info@consultapp.ru">info@consultapp.ru</a>
      </p>
    </section>
    <section id="block-4" className="widget widget_block">
      <h2 className="font-headlines">Полезные ссылки</h2>
    </section>
    <section id="block-5" className="widget widget_block">
      <ul>
        <li>
          <a
            href="http://consultapp.ru/go/kwork/"
            target="_blank"
            rel="noreferrer noopener"
            >Биржа фрилансеров</a
          >
        </li>
        <li>
          <a
            href="https://ibkr.com/referral/dmitriy509"
            target="_blank"
            rel="noreferrer noopener"
            >Инвестиции с Interactive Brokers</a
          >
        </li>
        <li>
          <a
            href="https://consultapp.ru/go/nauticflags/"
            target="_blank"
            rel="noreferrer noopener"
            >Флаги международного свода сигналов</a
          >
        </li>
      </ul>
    </section>
    <section
      id="custom_html-2"
      className="widget_text widget widget_custom_html"
    >
      <div className="textwidget custom-html-widget">
        <div id="yandex_rtb_R-A-471261-1"><div></div></div>
      </div>
    </section>
    <section id="recent-posts-2" className="widget widget_recent_entries">
      <h3 className="widget-title font-headlines">
        <span className="wrap">Свежие записи</span>
      </h3>
      <ul>
        <li>
          <a
            href="https://consultapp.ru/%d0%ba%d0%b0%d0%ba-%d1%83%d1%81%d1%82%d0%b0%d0%bd%d0%be%d0%b2%d0%b8%d1%82%d1%8c-gh-%d0%bd%d0%b0-centos7-c-yum/"
            >Как установить gh на CentOS7 c yum?</a
          >
        </li>
        <li>
          <a href="https://consultapp.ru/nautic-flags-study/"
            >Как изучить флаги международного свода сигналов?</a
          >
        </li>
        <li>
          <a
            href="https://consultapp.ru/simple-start-next-js-app-with-pm2-on-nginx/"
            >Запускаем Next.js приложение через PM2 на Nginx в простейшей
            конфигурации</a
          >
        </li>
      </ul>
    </section>
    <section id="categories-2" className="widget widget_categories">
      <h3 className="widget-title font-headlines">
        <span className="wrap">Рубрики</span>
      </h3>
      <ul>
        <li className="cat-item cat-item-37">
          <a
            href="https://consultapp.ru/category/%d0%bd%d0%be%d0%b2%d0%be%d1%81%d1%82%d0%b8/"
            >Новости</a
          >
        </li>
        <li className="cat-item cat-item-6">
          <a href="https://consultapp.ru/category/stati/">Статьи</a>
          <ul className="children">
            <li className="cat-item cat-item-27">
              <a href="https://consultapp.ru/category/stati/1%d1%81/">1С</a>
            </li>
            <li className="cat-item cat-item-38">
              <a href="https://consultapp.ru/category/stati/apple/">Apple</a>
            </li>
            <li className="cat-item cat-item-39">
              <a href="https://consultapp.ru/category/stati/bitrix/">Bitrix</a>
            </li>
            <li className="cat-item cat-item-33">
              <a href="https://consultapp.ru/category/stati/macos/">MacOS</a>
            </li>
            <li className="cat-item cat-item-46">
              <a href="https://consultapp.ru/category/stati/next-js/"
                >Next.js</a
              >
            </li>
            <li className="cat-item cat-item-43">
              <a href="https://consultapp.ru/category/stati/react-js/"
                >React JS</a
              >
            </li>
            <li className="cat-item cat-item-12">
              <a href="https://consultapp.ru/category/stati/seo/">SEO</a>
            </li>
            <li className="cat-item cat-item-40">
              <a href="https://consultapp.ru/category/stati/telegram/"
                >Telegram</a
              >
              <ul className="children">
                <li className="cat-item cat-item-42">
                  <a
                    href="https://consultapp.ru/category/stati/telegram/telegram-bots/"
                    >Telegram Bots</a
                  >
                </li>
              </ul>
            </li>
            <li className="cat-item cat-item-23">
              <a href="https://consultapp.ru/category/stati/wordpress/"
                >Wordpress</a
              >
              <ul className="children">
                <li className="cat-item cat-item-41">
                  <a
                    href="https://consultapp.ru/category/stati/wordpress/%d0%bf%d0%bb%d0%b0%d0%b3%d0%b8%d0%bd%d1%8b-wp/"
                    >Плагины WP</a
                  >
                </li>
              </ul>
            </li>
            <li className="cat-item cat-item-14">
              <a
                href="https://consultapp.ru/category/stati/%d0%b8%d0%bd%d0%b2%d0%b5%d1%81%d1%82%d0%b8%d1%86%d0%b8%d0%b8/"
                >Инвестиции</a
              >
            </li>
            <li className="cat-item cat-item-34">
              <a
                href="https://consultapp.ru/category/stati/%d0%bf%d0%be%d0%bb%d0%b5%d0%b7%d0%bd%d1%8b%d0%b5-%d0%bf%d1%80%d0%be%d0%b3%d1%80%d0%b0%d0%bc%d0%bc%d1%8b/"
                >Полезные программы</a
              >
            </li>
            <li className="cat-item cat-item-13">
              <a
                href="https://consultapp.ru/category/stati/%d1%80%d0%b0%d0%b7%d0%bd%d0%be%d0%b5/"
                >Разное</a
              >
            </li>
          </ul>
        </li>
        <li className="cat-item cat-item-35">
          <a
            href="https://consultapp.ru/category/%d1%83%d1%81%d0%bb%d1%83%d0%b3%d0%b8/"
            >Услуги</a
          >
        </li>
        <li className="cat-item cat-item-44">
          <a
            href="https://consultapp.ru/category/%d1%8f%d1%85%d1%82%d0%b8%d0%bd%d0%b3/"
            >Яхтинг</a
          >
          <ul className="children">
            <li className="cat-item cat-item-45">
              <a
                href="https://consultapp.ru/category/%d1%8f%d1%85%d1%82%d0%b8%d0%bd%d0%b3/%d0%be%d0%b1%d1%83%d1%87%d0%b5%d0%bd%d0%b8%d0%b5/"
                >Обучение</a
              >
            </li>
          </ul>
        </li>
      </ul>
    </section>
  </div>
</aside>
